$btn-color: #65e233;
$width-btn: 100px;

.btn1{
    width: $width-btn;
    background-color: $btn-color;
}
.btn2{
    width: 80px;
    background-color: $btn-color;
}
.btn3{
    width: $width-btn;
    background-color: $btn-color;
}